@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

:root {
  --MAIN-COLOR: #5AA37C;
  --TEXT-COLOR: antiquewhite;
}

body {
    background: #0f496b;
    background: linear-gradient(90deg, rgba(15, 73, 107, 1) 6%, rgba(90, 163, 124, 1) 96%);  
    padding: 50px; 
    font-family: "Josefin Sans", sans-serif;  
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 14, 14, 0.6);
    padding: 15px;
    border-radius: 20px;
    min-height: 80vh;
    padding: 0 25px 50px 25px ;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
#logo-container {
    position: relative;
    align-items: center;
}
#logo {
    height: 80px;
    width: 100px;
    position: absolute;
    top: -65px
}
#logo-container h1 {
    color: var(--TEXT-COLOR);
    font-family: "Pacifico", cursive;
    font-size: 2rem;
    padding-left: 10px;
    padding-top: 5px;
}

/* Movies list and card section */
section {
    display: flex;
    justify-content: space-between;
}
section aside {
    min-width: 15%;
}
label[for="search-input"] {
  font-weight: bold;
  color: var(--TEXT-COLOR);
  font-size: 18px;
}
form {
    display: flex;
    align-items: center;
    gap: 5px;
}
input[type='Text'] {
    border-radius: 15px;
    height: 30px;
    padding-left: 10px;
    background-color: var(--MAIN-COLOR);
    min-width: 300px;
}
#search-input::placeholder {
  color: rgb(29, 28, 28);                
  font-style: italic; 
}
#search-btn {
    color: var(--MAIN-COLOR);
    font-size: 30px;
    cursor: pointer;
}
#search-btn:hover {
    opacity: 0.8;
}
.account-container {
    color: var(--MAIN-COLOR);
    font-size: 1.5rem;
}
.account-container:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Movies list  */
#not-found {
    display: none;
    position: absolute;
    left: 450px;
    width: 350px;
    color: var(--TEXT-COLOR);
}
#movies-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: start;
    padding-inline-start: 0;
    color: var(--TEXT-COLOR);
    margin: 1rem 1.5rem;
    column-gap: 30px;
    row-gap: 15px;
    margin-bottom: 75px;
}
#movies-list li {
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards; 
    margin-bottom: 5px; 
    transition: font-size 0.3s ease;
    list-style: none;
    text-align: center;
    background-color: #212222;
    border-radius: 10px;
    box-shadow: 2px 2px 24px 3px rgba(92, 88, 88, 0.75);
}
#movies-list li:hover {
    color: var(--MAIN-COLOR);
}
#movies-list li:focus {
    /* font-size: 1.1rem; */
    color: #d2058e;
    border: 1px solid var(--TEXT-COLOR);
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.list-movie-element-container {
    height: 150px;
    width: 120px;
    border-radius: 10px;
    overflow: hidden;
}
.list-movie-element-container IMG {
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.list-movie-element-container h5 {
   margin: 10px;
}

/* Movie details card */
.details-container {
    display: flex;
    position: fixed;   
    top: 50%;             
    left: 50%;            
    transform: translate(-50%, -50%); 
    z-index: 9999;
    width: 75%;
    height: 75vh;
    border-radius: 20px;
    background-color: rgba(24, 25, 25, 0.98);
    gap: 50px;
    color: var(--TEXT-COLOR);
    margin: 0 80px 0 0;
    padding: 20px;
}
.card-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#rating-container {
    display: flex;
}
.card-heading > p {
    margin: 0 0 5px 0;
}
.details-text span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3aae93;
    margin-right: 10px;
}
.details-img {
    box-sizing: border-box;
    flex-shrink: 0; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 36px 3px rgba(109, 106, 106, 0.75);
    height: 100%;
    width: 40%;
}
.details-img img {
  width: 100%;          
  height: 100%;         
  object-fit: fill;  
  display: block;         
}
#rating-container p {
    margin: 0;
    margin-left: 8px;
}
#rating-container i {
    color: gold;
}
#fav {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.75rem;
    cursor: pointer;
}
#details-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
#details-close-btn:hover {
    color: rgb(228, 46, 46);
}

/* Favotites  */
#favorites-list-container {
    width: 200px;
    background-color: #212222;
    border-radius: 10px;
    height: fit-content;
    padding-right: 20px;
}
#favorites-list-container div {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
#favorites-list-container div i {
    color: var(--TEXT-COLOR); 
    padding-left: 35px;
    font-size: 20px; 
    color: gold;
}
#favorites-list-container div h3 {
    color: var(--TEXT-COLOR); 
    margin: 0;
    font-size: 24px;
}
#favorites-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}
#favorites-list li {
    color: var(--TEXT-COLOR); 
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#favorites-list li h5 {
    margin: 0;
    border: 1px solid var(--TEXT-COLOR);
    border-radius: 20px;
    padding: 5px 10px 3px 10px;
}
#favorites-list li h5:hover {
    color: var(--MAIN-COLOR);
    border: 1px solid var(--MAIN-COLOR);
    cursor: pointer;
}
#favorites-list li i {
    color: rgb(228, 46, 46);
}
#favorites-list li i:hover {
    color: rgb(228, 46, 46, 0.8);
    cursor: pointer;
}